APP_ENV=dev
APP_VERSION=1.0.0

WAREHOUSE_URL_DEV=http://localhost:8096
WAREHOUSE_URL_TEST=http://localhost:8096
WAREHOUSE_URL_HOM=http://TO_BE_DEFINED
WAREHOUSE_URL_PROD=http://TO_BE_DEFINED

DB_HOST=localhost
DB_PORT=5432
DB_USER=integrator
DB_PASSWORD=integrator123

DB_NAME_SENSOR_SUBSEA_DEV=sensor_data_dev
DB_NAME_SENSOR_SUBSEA_TEST=test_sensor_subsea_v0
DB_NAME_SENSOR_SUBSTATION_DEV=sensor_data_dev
DB_NAME_SENSOR_SUBSTATION_TEST=test_sensor_substation_v0

TEMP_DIR=/tmp/integrator_uploads
MAX_UPLOAD_SIZE_MB=200